<section class="section__advanced">
    <div class="card flex flex-column md:flex-column gap-3" style="max-width: 500px;">
        <p>Mana Color</p>
        <p-inputGroup>
            <input type="text" pInputText placeholder="Keyword" />
            <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
        </p-inputGroup>

        <p>Mana Value</p>
        <p-inputGroup>
            <input type="text" pInputText placeholder="Keyword" />
            <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
        </p-inputGroup>

        <p>Power</p>
        <p-inputGroup>
            <input type="text" pInputText placeholder="Keyword" />
            <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
        </p-inputGroup>

        <p-inputGroup>
            <input type="text" pInputText placeholder="Keyword" />
            <button type="button" pButton icon="pi pi-search" class="p-button-warning"></button>
        </p-inputGroup>
    </div>
</section>