.card__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card__small {
    max-width: 400px;
    margin: 0 auto;
    padding: 1rem;
}

.short-devider {
    width: 50%;
    margin: 0 auto;
}

.short-devider::before,
.short-devider::after {
    content: '';
    flex: 1;
    margin: 0 0.5rem;
}