<h1>Register</h1>

<p-toast position="top-center"></p-toast>

<!-- @if (errorMessage) {
  <div>{{ errorMessage }}</div>
} -->
<section class="section__register">
  <form #registerForm="ngForm" (ngSubmit)="onSubmit(registerForm)">
      <div class="card card-small">
          <div class="col-12 flex align-items-center justify-content-center">
              <div class="p-fluid">
                  <div class="field form-group">
                      <label for="username">Username</label>
                      <input pInputText name="username" type="text" placeholder="username" ngModel required/>
                  </div>
                  <div class="field form-group">
                    <label for="email">Email</label>
                    <input pInputText name="email" type="email" placeholder="email" ngModel required />
                  </div>
                  <div class="field form-group">
                      <label for="password">Password</label>
                      <input pInputText name="password" type="password" placeholder="password" ngModel required />
                  </div>
                  <div class="field form-group">
                    <label for="password">Confirm Password</label>
                    <input pInputText name="password" type="password" placeholder="password" ngModel required />
                </div>
                  <p-button label="Sign Up" type="submit"></p-button>
              </div>
          </div>
      </div>
  </form>
</section>
