<section class="section-background">
    <div class="title-wrapper">
        <p>MANA VAULT</p>
        <p>Search your Magic </p>
    </div>
    
    <div class="advanced-search">
            <p>Advanced Search</p>
    </div>
    
    <div class="card flex flex-column md:flex-row gap-3">
        <p-inputGroup>
            <button type="button" pButton label="Search"></button>
            <input type="text" pInputText placeholder="Keyword" />
        </p-inputGroup>
    </div>
    
    <div class="comment-wrapper">
        <p>Register to make your own decks</p>
    </div>
</section>